[Desktop Entry]
Encoding=UTF-8
Name=KackCoin
Comment=KackCoin P2P Cryptocurrency
Comment[fr]=KackCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KackCoin, eşten eşe kriptografik sanal para birimi
Exec=kck-qt %u
Terminal=false
Type=Application
Icon=kck128
MimeType=x-scheme-handler/kck;
Categories=Office;Finance;
