[Unit]
Description=KCK's distributed currency daemon
After=network.target

[Service]
User=kck
Group=kck

Type=forking
PIDFile=/var/lib/kckd/kckd.pid

ExecStart=/usr/bin/kckd -daemon -pid=/var/lib/kckd/kckd.pid \
          -conf=/etc/kck/kck.conf -datadir=/var/lib/kckd

ExecStop=-/usr/bin/kck-cli -conf=/etc/kck/kck.conf \
         -datadir=/var/lib/kckd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
